{% load static %}
<nav class="flex flex-row justify-between items-stretch px-2">
    <a href="{% url 'core:home' %}"
       class="flex relative justify-start z-9 cursor-pointer">
        <img src="{% static 'images/dnd_symbol.png' %}"
             alt="dnd symbol"
             width="120"
             height="67.5"
             class="block-enlarge"/>
        <h1 class="pl-2 text-4xl font-semibold flex items-center text-black">Mythodia</h1>
    </a>
    <div class="flex">
        {% if user.is_authenticated %}
            {% if user.is_admin %}
                <a href="{% url 'admin:index' %}"
                   class="flex items-center text-xl font-semibold px-2 text-black hover:bg-light-brown hover:text-white transition-all">Backoffice</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'core:home' %}"
           class="flex items-center text-xl font-semibold px-2 text-black hover:bg-light-brown hover:text-white transition-all">Home</a>
        <a href="{% url 'core:home' %}"
           class="flex items-center text-xl font-semibold px-2 text-black hover:bg-light-brown hover:text-white transition-all">Players</a>
        <a href="{% url 'core:home' %}"
           class="flex items-center text-xl font-semibold px-2 text-black hover:bg-light-brown hover:text-white transition-all">Non-player characters</a>
        <a href="{% url 'core:home' %}"
           class="flex items-center text-xl font-semibold px-2 text-black hover:bg-light-brown hover:text-white transition-all">Items</a>
        <a href="{% url 'core:home' %}"
           class="flex items-center text-xl font-semibold px-2 text-black hover:bg-light-brown hover:text-white transition-all">World</a>
    </div>
</nav>
