{% load static %}
<aside class="relative h-screen z-[10] w-16 flex flex-col bg-black">
    <!-- Image at the top of the sidebar -->
    <div class="p-4">
        <img src="{% static 'images/dnd_favicon.png' %}" alt="Sidebar Image"/>
    </div>
    <!-- Links in the sidebar -->
    <div class="flex-grow">
        <nav class="flex flex-col justify-start">
            <a href="#" class="p-4 hover:bg-gray-200">Link 1</a>
            <a href="#" class="p-4 hover:bg-gray-200">Link 2</a>
            <a href="#" class="p-4 hover:bg-gray-200">Link 3</a>
        </nav>
        <div id="user-section" class="relative">
            <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Hover Me</button>
            <div class="hidden absolute top-0 left-full bg-gray-100 p-4 rounded shadow-lg">
                <p class="text-gray-700">This is the pop-up content.</p>
            </div>
        </div>
    </div>
</aside>
