{% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>
      {% block page_title %}
        Mythodia
      {% endblock page_title %}
    </title>
    <link rel="icon" href="{% static 'images/dnd_favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css"/>
    {% tailwind_css %}
    {% block extra-styles %}
    {% endblock extra-styles %}
  </head>
  <body>
    {% block image-modal %}
      <div id="modal" class="fixed inset-0 z-[10000] hidden cursor-pointer">
        <div class="flex justify-center items-center w-full h-full bg-gray-900 bg-opacity-50">
          <img id="modal-image"
               class="block-enlarge max-w-full max-h-full p-4"
               src=""
               alt=""/>
        </div>
      </div>
    {% endblock image-modal %}
    {% block background-image %}
      <div class="fixed min-h-screen w-full bg-the-inner-planes-map bg-center bg-cover blur-sm z-[-10]"></div>
    {% endblock background-image %}
    <div class="flex">
      {% block side-nav %}
        {% include "components/side_nav.html" %}
      {% endblock side-nav %}
      <div class="min-h-screen bg-transparent leading-normal max-w-full w-full">
        {% block header %}
        {% endblock header %}
        <main class="max-w-6xl min-h-120 p-4 m-auto md:my-4 h-full md:h-auto bg-light-parchment bg-opacity-90">
          <h1 class="text-3xl md:text-4xl font-medium mb-2">
            {% block page-heading %}
            {% endblock page-heading %}
          </h1>
          {% block content %}
          {% endblock content %}
        </main>
        {% block footer %}
        {% endblock footer %}
      </div>
    </div>
  </body>
  <script lang="text/javascript">
    const modal = document.getElementById('modal');
    const modalImage = document.getElementById('modal-image');

    document.querySelectorAll('img').forEach(img => {
        if (img.classList.contains("block-enlarge")) {
            return
        }
        img.addEventListener('click', () => {
            modal.classList.remove('hidden');
            modalImage.src = img.src;
        });
    });

    modal.addEventListener('click', () => {
        modal.classList.add('hidden');
    });
  </script>
  {% block extra-scripts %}
  {% endblock extra-scripts %}
</html>
