{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto p-3">
        <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Inloggen</h2>
                {% if form.errors %}
                    <div class="mt-6 p-3 bg-red-50 rounded">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger text-center text-red-700">{{ error|escape }}</div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger text-center text-red-700">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form class="space-y-6" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">E-mailadres</label>
                            <div class="mt-1">
                                <input id="email"
                                       name="username"
                                       type="email"
                                       autocomplete="email"
                                       required
                                       class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"/>
                            </div>
                        </div>
                        <div>
                            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                            <div class="mt-1">
                                <input id="password"
                                       name="password"
                                       type="password"
                                       autocomplete="current-password"
                                       required
                                       class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"/>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex text-xs">
                                <a href="/wachtwoord-vergeten"
                                   class="font-medium text-indigo-600 hover:text-indigo-500">Wachtwoord vergeten?</a>
                            </div>
                            <div class="text-xs">
                                <a href="/maak-een-account"
                                   class="font-medium text-indigo-600 hover:text-indigo-500">Nog geen account?</a>
                            </div>
                        </div>
                        <div>
                            <button type="submit"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-dutchband-red hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dutchband-red">
                                Inloggen
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
