{% load static %}
<section class="flex flex-wrap flex-col md:flex-row justify-around">
    <div class="text-center mb-4 md:w-1/5">
        <a class="block px-3 py-2 bg-dark-parchment w-fit mb-1 m-auto rounded-md text-black font-bold shadow hover:bg-light-brown hover:text-white transition-all">
            <i class="fa-solid fa-user pr-2"></i>
            Players
        </a>
        Descriptions for each player character and their abilities, traits, etc.
    </div>
    <div class="text-center mb-4 md:w-1/5">
        <a class="block px-3 py-2 bg-dark-parchment w-fit mb-1 m-auto rounded-md text-black font-bold shadow hover:bg-light-brown hover:text-white transition-all">
            <i class="fa-solid fa-users pr-2"></i>
            Non-player characters
        </a>
        Descriptions for each non-player character and their abilities, traits, etc.
    </div>
    <div class="text-center mb-4 md:w-1/5">
        <a class="block px-3 py-2 bg-dark-parchment w-fit mb-1 m-auto rounded-md text-black font-bold shadow hover:bg-light-brown hover:text-white transition-all">
            <i class="fa-solid fa-ring pr-2"></i>
            Items
        </a>
        Homebrew items i created myself or used from someone else.
    </div>
    <div class="text-center mb-4 md:w-1/5">
        <a class="block px-3 py-2 bg-dark-parchment w-fit mb-1 m-auto rounded-md text-black font-bold shadow hover:bg-light-brown hover:text-white transition-all">
            <i class="fa-solid fa-globe pr-2"></i>
            World
        </a>
        Information on the states, important cities and other interesting information on the world
    </div>
</section>
