{% load static %}
<section class="flex gap-2 flex-col md:flex-row">
  <div class="flex-1 text-lg leading-5">
    <p class="mb-4">
      The world of Mythodia, which I created for a campaign with my friends,
      is a place where dragons hold a special place of honor. Each state in
      Mythodia has its own dragon protector, who is known and feared by those
      who should.
    </p>
    <p>
      These dragons do not hold ultimate authority over the states, but they
      are respected and relied upon by the rulers and citizens alike. They are
      often consulted for advice and aid in times of need, making them an
      integral part of the political and social landscape of Mythodia.
    </p>
  </div>
  <div class="relative flex-1">
    <Image src="{% static 'images/mythodia-map.jpeg' %}"
           alt="An image of the world"
           class="cursor-pointer"/>
  </div>
</section>
